[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Juan Gonzalez
	email = jucgonzalezes@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore_global
